streamlit
python-dotenv
langchain==0.2.11
langchain-chroma==0.1.2


langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq

sentence-transformers
chromadb

pypdf

